@import '../../components/auth/AuthLayout.module.css';

.auth {
  composes: auth from '@/components/auth/AuthLayout.module.css';
}

.auth__wrapper {
  composes: auth__wrapper from '@/components/auth/AuthLayout.module.css';
}

.auth__title {
  composes: auth__title from '@/components/auth/AuthLayout.module.css';
}

.auth__subtitle {
  composes: auth__subtitle from '@/components/auth/AuthLayout.module.css';
}

.auth__error {
  composes: auth__error from '@/components/auth/AuthLayout.module.css';
}

.auth__form {
  composes: auth__form from '@/components/auth/AuthLayout.module.css';
}

.auth__field {
  composes: auth__field from '@/components/auth/AuthLayout.module.css';
}

.auth__label {
  composes: auth__label from '@/components/auth/AuthLayout.module.css';
}

.auth__footer {
  composes: auth__footer from '@/components/auth/AuthLayout.module.css';
}

.auth__link {
  composes: auth__link from '@/components/auth/AuthLayout.module.css';
}
